<div class="rounded-box ticket-search-wrapper">
  <h1>Find Tickets</h1>
  <form [formGroup]="ticketsForm">
    <div class="form-group">
      <label>From:</label>
      <input type="text" class="form-control" formControlName="from">
    </div>
    <div class="form-group">
      <label for="">To:</label>
      <input type="text" class="form-control" formControlName="to">
    </div>
    <div class="form-group">
      <label for="">When:</label>
      <input type="text"
           placeholder="Select the departure date"
           class="form-control"
           bsDatepicker>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" (click)="getTickets()">
        Find Tickets
      </button>
    </div>
  </form>
</div>