@import url('https://fonts.googleapis.com/css?family=Lato');
/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #33348E;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container-fluid {
  padding: 0
}
.rounded-box {
  border-radius: 6px;
  background-color: #FFF;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(#000, 0.16);
}

h1 {
  color: #33348E;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}
h2 {
  color: #33348E;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  small {
    color: lighten(#33348E, 20%);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
}

form {
  label {
    font-weight: 400;
    font-size: 14px;
    color: #33348E;
    padding-bottom: 6px;
  }
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #33348E !important;
  border-color: transparent !important
}

