<div class="home-news-container mt-4">
  <div class="rounded-box result-item mt-3">
    <h1>My Tickets</h1>
    <div class="title">
      <div class="train-model"></div>
      <div class="trip-number">EIC3126</div>
    </div>
    <div class="route mt-4">
      <div class="departure">
        <span>
          Krakow
        </span>
        <span class="float-right time departure">
          08:20
        </span>
      </div>
      <div class="intersection">
        <div class="dots"></div>
      </div>
      <div class="arrival">
        <span>
          Warszawa
        </span>
        <span class="float-right time arrival">
          11.20
        </span>
      </div>
    </div>
    <div class="w-100 mt-3">
      <button class="btn btn-danger btn-block">
        The train will depart in 01:35. Define alert
      </button>
    </div>
    <!-- <div class="row">
      <div class="d-flex">
        <div class="col-75 flex-grow-1">
          The train will depart in 01:53
        </div>
        <div class="col-25">
          <button class="btn btn-block btn-danger">Define Alert</button>
        </div>
      </div>
    </div> -->
  </div>
</div>